<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the simple price checking app for textbooks</p>
    <a href="/vendor/all">Vendors</a> <br />
    <a href="/textbook/all">Textbooks</a> <br />
    <a href="/student/all">Students</a> <br />
    <a href="/course/all">Courses</a> <br />
    <a href="/about/about">About</a> <br />
  </body>
</html>
