<html>
<head>
    <title>Add New Skill</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill Name: <input id="skill_name" name="skill_name" type="text" />
    Description: <input id="description" name="description" type="text" />


    <input type="submit" />

</form>
</body>

</html>