<html>
<head>
    <title>skill - <%= result[0].skill_name %></title>
</head>
<body>
<h1>skill</h1>
<ul>
    <li>Skill ID: <%= result[0].skill_id%></li>
    <li>Skill Name: <%= result[0].skill_name %></li>
    <li>Skill Description: <%= result[0].description %></li>

</ul>
</body>

</html>