<%- include("../includes/header.ejs", {title:"Textbook Entity-Relationship Diagram"}); %>

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/"> Home </a>
    <a class="breadcrumb-item" href="/about/about"> / About </a> / Textbook Entity-Relationship Diagram
</nav>

<h1>Entity-Relationship Diagram</h1>

<br />

<img src="/images/TextBookER.png" style="width:1360px;height:1760px;" >

<%- include("../includes/footer.ejs"); %>