<%- include("../includes/header.ejs", {title:"Textbook Relational Schema"}); %>

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/"> Home </a>
    <a class="breadcrumb-item" href="/about/about"> / About </a> / Textbook Relational Schema
</nav>

<h1>Relational Schema</h1>

<img src="/images/RelationalSchema.png" style="width:1360px;height:1760px;" >

<%- include("../includes/footer.ejs"); %>