<%- include("../includes/header.ejs", {title:"Student - Add"}); %>
<h1>Add New Student</h1>
<form action="/student/insert" method="get">
    Student Email: </br> <input id="email" name="email" type="text" />
    </br>
    </br>
    First Name: </br> <input id="first_name" name="first_name" type="text" />
    </br>
    </br>
    Last Name: </br> <input id="last_name" name="last_name" type="text" />
    </br>
    </br>
    Student ID: </br> <input id="id_number" name="id_number" type="int" />
    </br>
    </br>
    Courses Student is Enorlled in: </br>

    <select id="course_id" name="course_id" type="int" multiple="multiple">
        <% for(var i=0; course.length > i; i++ ) { %>
        <option value="<%= course[i].course_id %>"><%= course[i].class_name + ', ' + course[i].class_number %></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: course -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#course_id').multiselect();
        });
    </script>

    </br>
    </br>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>